extends layout.pug

block content
  .error
    h2 Oops... Something's wrong here 
    h3 #{error.message} (#{error.status})
    hr
    p The text below probably doesn't mean anything to you unless you're a developer. You can ignore it or go back #[a(href="/") home] and try again.
    pre.error-info= error.stack